/* webviews/graph/graph.css */
body {
    padding: 0;
    margin: 0;
    font-family: var(--vscode-font-family);
    color: var(--vscode-editor-foreground);
    background-color: var(--vscode-editor-background);
    height: 100vh;
    width: 100vw;
    overflow: hidden; /* Prevent scrollbars on body */
}

#cy {
    height: 100%;
    width: 100%;
    display: block;
}

